#root {
    max-width: 1280px;
    padding: 2em;
    margin: 0 auto;
    background-color: lightblue;
    box-sizing: border-box;
}

.main-div {
    height: auto;
    width: 100%;
    max-width: 1280px;
    padding: 64px 1.5rem 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: stretch;
    background-color: #E9F5FB;
    border-radius: 10px;
}

.game-window {
    width: 100%;
    min-width: 0;
    padding: 1.5em;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.middle-div {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.left-most-div {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-most-div {
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.title {
    padding: 1em;
    height: auto;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }

    .logo.react:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    height: 5%;
    color: #888;
    text-align: center;
    max-width: 900px;
}
