.Menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 40%;
    gap: 20px;

    border-radius: 5px;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto; /* center horizontally */
    margin-bottom: 1rem; /* spacing to game window handled by middle-div gap */
}
